/*設定*/
* {
    margin: 0;
    padding: 0;
    top: 0;
}

p.margin-adjustment {
    margin: 7.6%;
}

a  {
    text-decoration: none;
    color: #4093ff;
}


/*ヘッダー関係*/
header {
    padding: 1%;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #bcffdd;
}

a.header {
    font-size: 200%;
    margin: 0 15px 0 0;
}


/*メイン関係*/
main {
    background-color: #a2ffd1;
}


/*フッター関係*/
footer {
    background-color: #bcffdd;
}