/*ヘッダー関係*/
header {
    background-color: rgb(243, 243, 243);
    display: flex;
}

p.header {
    font-size: 150%;
}

a.header {
    color: rgb(149, 142, 255);
    text-decoration: none;
}

p.header-magin {
    margin: 10px;
}



/*ハンバーガーメニュー設定*/
.hamburger {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
  }
  
  .hamburger__line {
    position: absolute;
    width: 50px;
    height: 3px;
    right: 0;
    background-color: #000;
    transition: all 0.5s;
  }

  .hamburger__line--1 {
    top: 1px;
  }
  
  .hamburger__line--2 {
    top: 18px;
  }
  
  .hamburger__line--3 {
    top: 36px;
  }
  
  .open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
  }
  
  .open .hamburger__line--2 {
    opacity: 0;
  }
  
  .open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
  }

  .sp-nav {
    position: fixed;
    right: -100%; 
    top: 0;
    width: 40%; 
    height: 100vh;
    background-color: #e7e7e7;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto; 
  }
  
  .open .sp-nav {
    right: 0;
  }
  
  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
  }
  
  .open .black-bg {
    opacity: 0.3;
    visibility: visible;
  }

  .hunberger-forrow-title {
    font-size: 30px;
    margin: 0;
  }

/*聖杯レイアウト*/
main {
    display: flex;
}

div.left {
    width: 20%;
}

div.main {
    width: 60%;
}

div.right {
    width: 20%;
}

/*フッター関係*/
footer {
    background-color: rgb(243, 243, 243);
}

p.footer {
    font-size: 100%;
}

a.footer {
    color: rgb(149, 142, 255);
    text-decoration: none;
}


/*設定*/
a.link {
    text-decoration: none;
}

ul {
  list-style: none;
}